:root {
  --sidebar-primary-color: var(--color-main);
  --sidebar-secondary-color: var(--color-purple-100);
  --sidebar-padding: calc(1.5rem * var(--mantine-scale)); // 24px
  --sidebar-width: calc(17.5rem * var(--mantine-scale)); // 280px

  --navLink-padding: calc(0.625rem * var(--mantine-scale)); // 10px
  --navLink-font-size: calc(1rem * var(--mantine-scale)); // 16px
  --navLink-line-height: calc(1.4rem * var(--mantine-scale)); // 22.4px

  --navLink-active-background-color: var(--color-purple-200);
  --navLink-active-font-weight: bold;
}

.sidebar {
  min-height: 100vh;
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);
  background-color: var(--sidebar-secondary-color);
}

.navLinkLabel {
  font-size: var(--navLink-font-size);
  line-height: var(--navLink-line-height);
}

.navLink {
  padding: var(--navLink-padding);
  border-radius: var(--border-radius-md);

  &:hover,
  &:where([data-active], [aria-current='page']):hover {
    background: none !important;
    color: var(--color-purple-400);
  }

  &:where([data-active], [aria-current='page']) {
    background-color: var(--navLink-active-background-color);
    color: var(--sidebar-primary-color);
    font-weight: var(--navLink-active-font-weight);
  }
}
