.movieCard {
  border-radius: var(--border-radius-lg);
  background-color: var(--color-white);
  padding: 24px;
  justify-content: space-between;
  align-items: normal;
  line-height: 20px;
  white-space: nowrap;
}

.moviePoster {
  height: 170px;
}

.movieDetails {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

.movieTitle {
  font-weight: 600;
  font-size: var(--mantine-font-size-xl);
  color: var(--color-main);
  line-height: 24.2px;
}

.ratingAvgLabel,
.ratingUserLabel {
  font-weight: 600;
  color: var(--color-pure-black);
}

.movieYear,
.ratingCount,
.genresLabel {
  color: var(--color-grey-600);
}

.genresList {
  color: var(--color-pure-black);
}

.movieCard,
.contentWrapper,
.ratingWrapper,
.ratingAvg,
.genres {
  flex-wrap: nowrap;
}

.rating {
  align-self: flex-start;
}

[data-clickable]:hover {
  transform: scale(1.05);
  cursor: pointer;
}
